<section
  class="lg-h-72 relative flex h-[250px] w-40 flex-col md:h-[300px] md:w-48 lg:h-80 lg:w-52"
>
  <figure
    class="relative grid h-40 w-40 place-items-center rounded-md bg-slate-100 shadow-sm md:h-48 md:w-48 lg:h-52 lg:w-52"
  >
    <img
      srcset="
        {{product.images[0]}}  320w,
        {{product.images[1]}}  640w,
        {{product.images[2]}} 1280w
      "
      alt="product image"
      class="h-full w-full max-w-full object-cover object-center"
      width="208"
      height="208"
      loading="lazy"
    />
  </figure>
  <div class="rounded-b-[17px] px-2 py-3">
    <div class="relative mb-2">
      <p class="max-w-full cursor-default truncate text-sm">
        {{ product.title }}
      </p>
    </div>
    <div class="flex h-7 max-w-[30%] text-base">
      <span class="text-[10px]">$</span>
      <p class="self-center">{{ cost }}</p>
    </div>
    <app-rating [rating]="3" [amountOfRatings]="5"></app-rating>
  </div>
</section>
