@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  body {
    color: black;
    background: white;
    font-family: "roboto", sans-serif;
    font-size: 16px;
  }
}

@layer utilities {
  .fill-yellow-500-important {
    fill: theme("colors.yellow.400") !important;
  }
}
