@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Roboto Mono";
  font-weight: 400;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("./assets/fonts/RobotoMono-VariableFont_wght.ttf")
    format("truetype-variations");
}

@font-face {
  font-family: "Roboto Mono";
  font-weight: 400;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("./assets/fonts/RobotoMono-Italic-VariableFont_wght.ttf")
    format("truetype-variations");
}

@layer base {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }
  body {
    color: black;
    background: white;
    font-family: "Roboto Mono", sans-serif;
    font-size: 16px;
    line-height: normal;
  }
}

@layer utilities {
  .fill-yellow-500-important {
    fill: theme("colors.yellow.400") !important;
  }
  .w-22px-important {
    width: 22px !important;
  }
  .h-22px-important {
    height: 22px !important;
  }
  .w-18px-important {
    width: 18px !important;
  }
  .h-18px-important {
    height: 18px !important;
  }
  .w-20px-important {
    width: 20px !important;
  }
  .h-20px-important {
    height: 20px !important;
  }
  .w-100svw {
    width: 100vw;
    width: 100svw;
  }
  .h-100svh {
    height: 100vh;
    height: 100svh;
  }
  .w-50svw {
    width: 50vw;
    width: 50svw;
  }
}
